/* App.css */
.white-h2 {
    margin:0% !important ;
    color: #fff !important;
  }
  * {
    user-select: none;
    scroll-behavior: smooth;
    font-family: "Helvetica", "Arial", sans-serif;
  }
  
  body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #ffffff;
  }
  
  .app-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  /* Hero Section */
  .hero {
    background-color: #1F1F1F;
    text-align: center;
    padding: 60px 20px;
    margin-bottom: 20px;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #1db954;
  }
  
  .hero p {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  
  
  /* Section Styles */
  .section {
    padding: 20px 40px;
    background-color: #1F1F1F;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .section h2 {
    font-size: 2rem;
    color: #1db954;
    margin-bottom: 20px;
  }
  
  .section p {
    color: #b3b3b3;
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  
  .infographic,
  .flowchart,
  .privacy-impact-diagram,
  .split-image,
  .emotional-analysis-illustration,
  .world-map,
  .scales-visual {
    background-color: #333;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    font-style: normal;
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  privacy-impact-diagram ul{
    padding-left: 0px;
  }

  .tall-img{
    background-color: #333;
    border-radius: 8px;
    font-style: italic;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
  }
  /* Subsection Styles */
  .subsection {
    margin-bottom: 20px;
  }
  
  .subsection h3 {
    font-size: 1.5rem;
    color: #1db954;
    margin-bottom: 10px;
  }
  
  .subsection p {
    color: #b3b3b3;
  }
  
  /* Blockquote Styles */
  blockquote {
    border-left: 4px solid #fff;
    background-color: #333;
    padding: 15px 20px;
    margin: 20px 0;
    font-style: italic;
    color: #ffffff;
  }
  
  /* List Styles */
  .privacy-tips {
    list-style-type: disc;
    color: #b3b3b3;
    margin-left: 0%;

  }

  .privacy-tips li {
    margin-bottom: 10px;
    margin-left: 0%;
  }
  
  /* Interactive Section */
  .interactive-section {
    background-color: #1F1F1F;
    color: #1db954;
    text-align: center;
    padding: 40px 20px;
  }
  
  /* Footer Styles */
  .footer {
    background-color: #1F1F1F;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .social-links {
    font-size: 1.2rem;
  }
  
  
  
  
  /* CSS */
  .cta-button {
    background-color: #1db954;
    border: 1px solid #1db954;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #1F1F1F;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .cta-button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
    scale: 103%;
  }
  
  @media (min-width: 768px) {
    .button-37 {
      padding: 10px 30px;
    }
  }